<form>
    <div>
        <h2>Login</h2>
        <dl>
            <dt>User Name</dt>
            <dd><input type="text" name="un" /></dd>
            <dt>Password</dt>
            <dd><input type="password" name="un" /></dd>
        </dl>
        <button>Login</button>
    </div>
</form>
